:root {
  --secondaryColor: #f48638;
  --lightIcon: #ffd324;
  --darkIcon: #00ab55;
  --navItemFocusColor: rgba(216, 216, 216, 0.5);
  --navItemActiveColor: #f48638;
  --bgOverlayColor: rgba(22, 28, 36, 0.6);
  --floatingIconColor: rgba(40, 40, 40, 0.5);
  --dividerColor: rgba(155, 155, 155, 0.3);
  --borderColor: rgba(215, 215, 215, 0.8);
  --bgPanelColor: rgba(121, 108, 108, 0.1);
  --demoColor: #ffba9a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray;
  scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(255, 255, 255);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}
